*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background: linear-gradient(105.59deg, rgba(99, 58, 151, 0.9) 34.3%, rgba(76, 135, 198, 0.9) 91.59%);
    background-repeat: no-repeat;
    height: 98vh;
}
.bluecolor{
    color: #007AFF;
}
.navbar ul li{
    float:left; 
    list-style: none;
    margin: 3vw;
    color: white;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li:hover{
    cursor: pointer;
}
.navbar{
    float: right;
}
.logo{
    margin-top: 55px;
    float:left;
    color: #007BFf;
    font-size: 1.5rem;
    font-weight:600;
}
.logo p{
    font-size: 7.9px;
    color:white;
}
nav{
    margin-left: 10%;
    margin-right: 10%;
}
.pedal{
    color:white;
}
.logo a{
    text-decoration: none;
    color: inherit;
}
.container{
    color: white;
    width: 50vw;
    position: absolute;
    top: 20%;
    left: 6%;
}